@font-face {
  font-family: "neo";
  src: url("./font/AppleSDGothicNeoM.ttf") format("truetype"), url("font/AppleSDGothicNeoB.ttf") format("truetype"), url("font/AppleSDGothicNeoEB.ttf") format("truetype"), url("font/AppleSDGothicNeoH.ttf") format("truetype"), url("font/AppleSDGothicNeoL.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "neo";
  font-weight: normal;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

header {
  position: relative;
}

header h1 {
  width: 100%;
  height: 70px;
  padding: 15px 0 15px 22px;
}

.login-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px - 64px);
  min-height: 80vh;
  margin: 0 auto;
}

.login-container .logSection {
  position: absolute;
  top: 20%;
  right: 10%;
  width: 23%;
  height: 60%;
  border-radius: 30px;
  background-color: rgba(238, 238, 238, 0.8);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  overflow: hidden;
  z-index: 5;
}

h3 {
  position: absolute;
  top: 40%;
  left: 5%;
  font-weight: 900;
  color: #fff;
  font-size: 50px;
}

.login-container .logSection .loginHeader {
  position: relative;
  width: 289.3px;
  height: 65%;
}

.login-container .logSection .loginHeader .pmsImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: scale(55%) translate(-50%, -50%);
  transform-origin: top left;
}

.login-container .logSection .loginHeader .pmsImage .pmsCircle {
  animation: move 50s linear infinite;
}

.login-container .logSection .loginHeader .pmsImage .pmsText {
  position: absolute;
}

.login-container .logSection .loginContainer {
  position: relative;
  margin: 50px auto;
}

.login-container .logSection .loginContainer::after {
  display: block;
  content: "";
  clear: both;
}

.login-container .logSection .loginContainer h2 {
  font-size: 25px;
  margin-bottom: 15px;
  color: #000;
}

.login-container .logSection .loginContainer .loginSection {
  margin-left: 10%;
  width: 80%;
  margin-bottom: 5px;
}

.login-container .logSection .loginContainer .loginSection input {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
}

.login-container .logSection .loginContainer .loginSection input::placeholder {
  font-size: 15px;
}

.login-container .logSection .loginContainer .loginBtn {
  width: 100%;
  height: 35px;
  background-color: #30A338;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.login-container .logSection .loginContainer .loginBtn:hover {
  background-color: #51555f;
}

.login-container .logSection .loginContainer .idSet {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.login-container .logSection .loginContainer .idSet label span {
  color: #05065c;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: normal;
}

.login-container .logSection .loginContainer .idSet label span:hover {
  color: #3c4646;
}

.login-container .logSection .loginContainer .idSet label span:hover.saveId::after {
  color: #05065c;
}

.login-container .logSection .loginContainer .idSet label span input {
  margin-right: 5px;
  border: 1px solid #3c4646;
  vertical-align: middle;
}

.login-container .logSection .loginContainer .idSet label span.saveId::after {
  content: "|";
  display: inline-block;
  padding-left: 15px;
  padding-right: 10px;
}

.login-container .logSection .loginContainer .idSet span {
  color: #05065c;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: normal;
}

.login-container .logSection .loginContainer .idSet span:hover {
  color: #3c4646;
}

.login-container .logSection .loginContainer .idSet span:hover.saveId::after {
  color: #3c4646;
}

.login-container .logSection .loginContainer .idSet span img {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
}

.login-container .logSection .loginContainer .notice {
  font-size: 12px;
  font-weight: 400;
  margin: 30px;
  color: #000;
}

.login-container #frame {
  position: relative;
  height: 100%;
}

.login-container #frame .panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login-container #frame .panel li {
  position: absolute;
  width: 100%;
  height: 100%;
}

.login-container #frame .panel li.on img {
  opacity: 1;
  transform: scale(1.02);
}

.login-container #frame .panel li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.5s, transform 4s;
}

.login-container #frame .panel-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login-container #frame .panel-mobile li {
  position: absolute;
  width: 100%;
  height: 100%;
}

.login-container #frame .panel-mobile li.on img {
  opacity: 1;
  transform: scale(1.01);
}

.login-container #frame .panel-mobile li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.5s, transform 4s;
}

footer {
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}

footer p {
  font-size: 14px;
  letter-spacing: 0.5px;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1700px) {
  .login-container .logSection {
    width: 30%;
  }

  .login-container .logSection .loginHeader {
    width: 263px;
  }

  .login-container .logSection .loginHeader .pmsImage {
    transform: scale(50%) translate(-50%, -50%);
  }
}

@media screen and (max-width: 1500px) {
  header h1 {
    width: 100%;
    height: 80px;
    padding: 15px 0 15px 15px;
  }

  .login-container .logSection {
    width: 35%;
  }

  .login-container .logSection .loginContainer {
    width: 65%;
  }
}

@media screen and (max-width: 1200px) {
  .login-container .logSection {
    width: 40%;
  }

  .login-container #frame .panel {
    display: none;
  }

  .login-container #frame .panel-mobile {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .login-container .logSection {
    width: 65%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40px;
  }

  .login-container .logSection .loginContainer {
    width: 90%;
  }

  footer p {
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  .login-container .logSection {
    width: 90%;
  }

  .login-container .logSection .loginContainer {
    width: 95%;
  }

  footer p {
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */