@charset "utf-8";
@font-face {
	font-family: "neo";
	src: url("../font/AppleSDGothicNeoM.ttf")
		format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "neo";
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}

header {
	position: relative;
	h1 {
		width: 100%;
		height: 90px;
		padding: 20px 0 20px 20px;
		a {
			display: inline-block;
			img {
				width: 163px;
			}
		}
	}
}
.container {
	position: relative;
	width: 100%;
	height: calc(100vh - 90px - 56px);
	min-height: 80vh;
	margin: 0 auto;
	.logSection {
		position: absolute;
		top: 10%;
		left: 3%;
		width: 25%;
		height: 80%;
		border-radius: 50px;
		background-color: rgb(238, 238, 238, 0.7);
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
		color: #fff;
		overflow: hidden;
		z-index: 5;
		.loginHeader {
			position: relative;
			width: 100%;
			height: 65%;
			.pmsImage {
				position: relative;
				display: flex;
				justify-content: center;
				top: -10%;
				transform: scale(55%);
				.pmsCircle {
					animation: move 50s linear infinite;
				}
				.pmsText {
					position: absolute;
					top: 47%;
					transform: scale(2);
				}
			}
		}
		.loginContainer {
			position: relative;
			width: 55%;
			margin: 30px auto 50px;
			&::after {
				display: block;
				content: "";
				clear: both;
			}
			.loginSection {
				display: flex;
				justify-content: space-between;
				margin-bottom: 5px;
				.loginInput {
					width: 70%;
					input {
						width: 100%;
						height: 35px;
						padding-left: 10px;
						margin-bottom: 5px;
						border-radius: 5px;
						border: none;
					}
				}
			}
			.loginBtn {
				width: 28%;
				height: 76px;
				background-color: #0d2645;
				color: #fff;
				border-radius: 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				&:hover {
					color: #ff7200;
					font-weight: bolder;
				}
			}
			.search {
				width: 100%;
				float: left;
				span {
					a {
						color: #fff;
						font-size: 14px;
						&:hover {
							color: #ff7200;
						}
					}
				}
				span.searchId::after {
					content: "|";
					display: inline-block;
					padding-left: 15px;
					padding-right: 10px;
				}
			}
		}
	}
	#frame {
		position: relative;
		height: 100%;
		.panel {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			li {
				position: absolute;
				width: 100%;
				height: 100%;
				&.on img {
					opacity: 1;
					transform: scale(1.01);
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					opacity: 0;
					transform: scale(1);
					transition: opacity 0.5s, transform 4s;
				}
			}
		}
		.panel-mobile {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			li {
				position: absolute;
				width: 100%;
				height: 100%;
				&.on img {
					opacity: 1;
					transform: scale(1.01);
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					opacity: 0;
					transform: scale(1);
					transition: opacity 0.5s, transform 4s;
				}
			}
		}
	}
}
footer {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	p {
		font-size: 14px;
		letter-spacing: 0.5px;
	}
}

@keyframes move {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 1700px) {
	.container {
		.logSection {
			.loginHeader {
				.pmsImage {
					transform: scale(50%);
				}
			}
		}
	}
}

@media screen and (max-width: 1500px) {
	.container {
		.logSection {
			width: 35%;
			.loginHeader {
				.pmsImage {
					top: -15%;
				}
			}
			.loginContainer {
				width: 65%;
			}
		}
	}
}

//tablet일 때
@media screen and (max-width: 1200px) {
	.container {
		.logSection {
			width: 40%;
			left: 50%;
			transform: translateX(-50%);
		}
		#frame {
			.panel {
				display: none;
			}
			.panel-mobile {
				display: block;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.container {
		.logSection {
			width: 65%;
			.loginHeader {
				.pmsImage {
					top: 0;
				}
			}
			.loginContainer {
				width: 90%;
			}
		}
	}
	footer {
		p {
			font-size: 12px;
		}
	}
}

@media screen and (max-width: 550px) {
	.container {
		.logSection {
			width: 90%;
			background-color: rgb(238, 238, 238, 0.3);
			.loginHeader {
				.pmsImage {
					top: -30%;
				}
			}
			.loginContainer {
				width: 95%;
			}
		}
	}
	footer {
		p {
			font-size: 10px;
		}
	}
}
