@charset "utf-8";
@font-face {
	font-family: "neo";
	src: url("./font/AppleSDGothicNeoM.ttf")
			format("truetype"),
		url("font/AppleSDGothicNeoB.ttf") format("truetype"),
		url("font/AppleSDGothicNeoEB.ttf") format("truetype"),
		url("font/AppleSDGothicNeoH.ttf") format("truetype"),
		url("font/AppleSDGothicNeoL.ttf") format("truetype");
}
//@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

$logo-color: #000080;

* {
	margin: 0;
	padding: 0;
	font-family: "neo";
	font-weight: normal;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}

header {
	position: relative;
	h1 {
		width: 100%;
		height: 80px;
		padding: 20px 0 20px 20px;
		svg {
			display: inline-block;
			fill: $logo-color;
		}
	}
}

.login-container {
	position: relative;
	width: 100%;
	height: calc(100vh - 90px - 56px);
	min-height: 80vh;
	margin: 0 auto;
	.logSection {
		position: absolute;
		top: 8%;
		left: 5%;
		width: 25%;
		height: 84%;
		border-radius: 40px;
		background-color: rgb(238, 238, 238, 0.7);
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
		color: #fff;
		overflow: hidden;
		z-index: 5;
		.loginHeader {
			position: relative;
			width: calc(526px * 0.55);
			height: 65%;
			.pmsImage {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				top: 50%;
				left: 50%;
				transform: scale(55%) translate(-50%, -50%);
				transform-origin: top left;
				.pmsCircle {
					animation: move 50s linear infinite;
				}
				.pmsText {
					position: absolute;
				}
			}
		}
		.loginContainer {
			position: relative;
			width: 62%;
			margin: 30px auto 50px;
			&::after {
				display: block;
				content: "";
				clear: both;
			}
			.loginSection {
				display: flex;
				justify-content: space-between;
				margin-bottom: 5px;
				.loginInput {
					width: 70%;
					input {
						width: 100%;
						height: 35px;
						padding-left: 10px;
						margin-bottom: 5px;
						border-radius: 5px;
						border: none;
						&::placeholder {
							font-size: 15px;
						}
					}
				}
			}
			.loginBtn {
				width: 28%;
				height: 76px;
				background-color: #05065c;
				color: #fff;
				border-radius: 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: bolder;
				&:hover {
					background-color: #51555f;
				}
			}
			.search {
				width: 100%;
				float: left;
				label {
					span {
						color: #3c4646;
						font-size: 14px;
						letter-spacing: 1px;
						cursor: pointer;
						font-weight: normal;
						&:hover {
							color: $logo-color;
							&.searchId::after {
								color: #3c4646;
							}
						}
						input {
							margin-right: 5px;
							border: 1px solid #3c4646;
							vertical-align: middle;
						}
					}
					span.searchId::after {
						content: "|";
						display: inline-block;
						padding-left: 15px;
						padding-right: 10px;
					}
				}
				span {
					color: #3c4646;
					font-size: 14px;
					letter-spacing: 1px;
					cursor: pointer;
					font-weight: normal;
					&:hover {
						color: $logo-color;
						img {
							filter: invert(14%) sepia(94%) saturate(7491%)
								hue-rotate(213deg) brightness(59%)
								contrast(112%);
						}
						&.searchId::after {
							color: #3c4646;
						}
					}

					img {
						filter: invert(35%) sepia(8%) saturate(651%)
							hue-rotate(185deg) brightness(87%)
							contrast(90%);
						width: 15px;
						height: 15px;
						vertical-align: middle;
						margin-right: 5px;
					}
				}
			}
		}
	}
	#frame {
		position: relative;
		height: 100%;
		.panel {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			li {
				position: absolute;
				width: 100%;
				height: 100%;
				&.on img {
					opacity: 1;
					transform: scale(1.01);
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					opacity: 0;
					transform: scale(1);
					transition: opacity 0.5s, transform 4s;
				}
			}
		}
		.panel-mobile {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			li {
				position: absolute;
				width: 100%;
				height: 100%;
				&.on img {
					opacity: 1;
					transform: scale(1.01);
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					opacity: 0;
					transform: scale(1);
					transition: opacity 0.5s, transform 4s;
				}
			}
		}
	}
}
footer {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	p {
		font-size: 14px;
		letter-spacing: 0.5px;
	}
}

@keyframes move {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 1700px) {
	.login-container {
		.logSection {
			width: 30%;
			.loginHeader {
				width: calc(526px * 0.5);
				.pmsImage {
					transform: scale(50%) translate(-50%, -50%);
				}
			}
		}
	}
}

@media screen and (max-width: 1500px) {
	header {
		h1 {
			width: 100%;
			height: 80px;
			padding: 15px 0 15px 15px;
		}
	}
	.login-container {
		.logSection {
			width: 35%;
			.loginContainer {
				width: 65%;
			}
		}
	}
}

//tablet일 때
@media screen and (max-width: 1200px) {
	.login-container {
		.logSection {
			width: 40%;
		}
		#frame {
			.panel {
				display: none;
			}
			.panel-mobile {
				display: block;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.login-container {
		.logSection {
			width: 65%;
			left: 50%;
			transform: translateX(-50%);
			.loginContainer {
				width: 90%;
			}
		}
	}
	footer {
		p {
			font-size: 12px;
		}
	}
}

@media screen and (max-width: 550px) {
	.login-container {
		.logSection {
			width: 90%;
			.loginContainer {
				width: 95%;
			}
		}
	}
	footer {
		p {
			font-size: 10px;
		}
	}
}
